*{
  margin:0;
  padding:0;
}

main {
  position: relative;


}

article{
  width:1280px;
  margin: auto;
}


.logo{
  max-width: 10rem;
  vertical-align: middle;

}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;

}

nav li {
justify-content: space-evenly;


}




.hero article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero, .design, .about{
  height: 720px;
  border: 1px solid black;
  display: flex;

}

.design, .about {
  margin-top: 0px;
}


